// Specific CSS for your home-page
body{
  background-image: url("https://apod.nasa.gov/apod/image/2308/M31Perseid_Pedrero_1080.jpg");
  background-size: cover;
}

.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

h1.title.heading-section  {
  font-family: $my-font-UFO;
  font-size: 70px;
  color: $title;
}

h2{
  color: $title;
}

h3{
  color: $title;
}

.button-fixed {
  position: fixed;
  right: 20px;
  top: 30px;
}

//WORK
.work{
	width: 100%;
	.img{
		-webkit-box-shadow: 0px 20px 35px -30px rgba(0,0,0,0.26);
		-moz-box-shadow: 0px 20px 35px -30px rgba(0,0,0,0.26);
		box-shadow: 0px 20px 35px -30px rgba(0,0,0,0.26);
	}
	.text{
		h3{
			font-size: 18px;
			font-weight: 500;
			a{
				color: $black;
			}
		}
		span{
			font-size: 12px;
			letter-spacing: 1px;
			color: $title;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
	&:hover{
		.img{
			.icon{
				opacity: 1;
			}
		}
	}
}
