<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">You're Courageous</h1>
      <%= simple_form_for ([@flying_saucer, @booking]) do |f| %>
          <%= f.input :start_booking,
                      as: :string,
                      input_html: {
                        class: 'form-control',
                        data: { controller: 'datepicker' }
                      } %>
          <%= f.input :end_booking,
                      as: :string,
                      input_html: {
                        class: 'form-control',
                        data: { controller: 'datepicker' }
                      } %>
          <%= f.submit 'Lets GO',
            class: 'btn btn-primary',
            onclick: "alert('Reservation has been successfully created. Welcome aboard!')" %>
      <% end %>
    </div>
  </div>
</div>
