<nav id="sidebar">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
    </button>
  </div>
  <div class="img bg-wrap text-center py-4">
    <div class="user-logo">
      <div class="img"></div>
      <h1>AlienName</h1>
    </div>
  </div>
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <a href="/"><span class="fa fa-home mr-3"></span> Home</a>
    </li>
    <li>
      <a href="/flying_saucers/:flying_saucer_id/bookings">My Bookings</a>
    </li>
    <li>
      <a href="/flying_saucers">My FlyingSaucers</a>
    </li>
    <li>
    <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete} %>
    </li>
  </ul>
</nav>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
